.dlss{
    width: 50%;height:auto;float: left;box-sizing: border-box;margin-top: .2rem;
}
.dls dt {
    width: 95%;margin:0 auto;
}
.dlss dt img{
    width: 100%;
}
.dlss dd{
    padding-left: .2rem;padding-right: .2rem;
}
.dlss dd p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: .2rem;
}
.cc{
    float: right;padding-right: .2rem;
}